<!--Navbar component-->
<app-navigation></app-navigation>

<!-- Content -->
{{print}}
<div class="container-fluid" align="center">

  <div class="jumbotron">
    <h1>Create Meetup!</h1>
  </div>

  <form style="padding-bottom: 60px">
    <!-- Create Meetup -->
    <div class="form-group">
      <label for="meetupNameFormControlInput">Meetup Name:</label>
      <input type="text" class="form-control" id="name" required placeholder="CS Club" [(ngModel)]="model.name"
        name="name">
    </div>

    <!-- Date -->
    <div class="form-group">
      <label for="dateFormControlInput">Date:</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.date" ngbDatepicker
          #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <!-- Time -->
    <div class="form-group" align="center">
      <label for="timeFormControlInput">Time:</label>
      <ngb-timepicker [(ngModel)]="model.time" name="time" [meridian]=true></ngb-timepicker>
    </div>

    <!-- Select Majors -->
    <div class="form-group">
      <label for="majorFormControlInput">Select Major(s) Relevant to Meetup:</label>
      <select multiple [(ngModel)]="model.majors" name="majors" class="form-control" id="majors" required>
        <option *ngFor="let major of majors" [value]="major">{{major}}</option>
      </select>
    </div>

    <!-- Purpose of Meetup -->
    <div class="form-group">
      <label for="purposeFormControlInput">Purpose of Meetup:</label>
      <input type="text" class="form-control" id="purpose" required
        placeholder="Sports, Coding, Mock Interviews...(1 Word)" [(ngModel)]="model.purpose" name="purpose">
    </div>

    <!-- Location -->
    <div class="form-group">
      <label for="locationFormControlInput">Location:</label>
      <select class="form-control" id="location" required [(ngModel)]="model.location" name="location">
        <option value="Campus">Campus</option>
        <option value="Library">Library</option>
        <option value="Dorm">Dorm</option>
        <option value="Off Campus">Off Campus</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="addMeetup()">Create Meetup</button>
  </form>
</div>

<!-- Twitter component -->
<!--<app-footer-twitter-feed></app-footer-twitter-feed>-->