<!--Jide's code-->
<div class="container" align="center">
  <div class="jumbotron">
    <h1>Login</h1>
  </div>
  
  <form class="form" [formGroup]="loginFormGroup" (ngSubmit)="login(loginFormGroup.get('email').value, loginFormGroup.get('password').value)">
    <div class="form-group">
      <label for="userEmail" class="labels">Email: </label>
      <input formControlName="email" class="form-control-sm" type="text" id="userEmail"/>
    </div>
    
    <div class="form-group">
      <label for="userPassword" class="labels">Password: </label>
      <input formControlName="password" type="password" class="form-control-sm" id="userPassword"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>

    <div>
      <label class="register"> Not a member yet? <a routerLink="/register" class="link">click to create account.</a> </label>
   </div>
  </form>
</div>
