<!--Jide's code-->
<div align="center" class="content-all">
   <div class="jumbotron">
      <h1>Login</h1>
   </div>

   <form class="formstyle">
      <div class="form-group">
         <label class="user" for="userNameField">Username:</label>
         <input class="form-control-md" type= "text" name="username" id="userNameField">
      </div>

      <div class="form-group">
         <label class="pass" for="passwordField">Password:</label>
         <input class="form-control-md" type= "password" name="password" id="passwordField">
      </div>
      
      <!--<input type="submit" value="Login" formaction="homepage.html"> <br><br> -->
      <button type="submit" class="btn btn-primary" routerLink="/home">Login</button>

      <p class="reg"> Not a member yet? <a routerLink="/register" class="link">click to create account </a> </p>
   </form>
</div>
