/*.content-all {*/
    /*padding-top: 8%;*/
/*}*/

.jumbotron {
    background-color: transparent !important;
    height: 140px;
  }
    
h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
}


.container {
  margin-top: 100px;
}

#userEmail {
  margin-left: 28px;
}

.labels {
  margin-right: 20px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */


/*.form-group {*/
    /*padding-bottom: .5em;*/
/*}*/

/*.user {*/
    /*padding-right: 1em;*/
/*}*/

/*.pass {*/
    /*padding-right: 1.2em;*/
/*}*/

/*.reg {*/
    /*padding-top: 1em;*/
/*}*/

/*.btn {*/
    /*background-color: #1034A6;*/
/*}*/

.link {
    text-decoration: none;
    color: #ff0000;
}
