.jumbotron {
    background-color: transparent !important;
    height: 140px;
  }
    
h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    padding-top: .1em;
}

.container {
  margin-top: 100px;
}

#userEmail {
  margin-left: 28px;
}

.labels {
  margin-right: 20px;
}

.btn {
    background-color: #1034A6;
}

.link {
    text-decoration: none;
    color: #ff0000;
}

.register {
    padding-top: 1em;
}