.card {
    margin-top: 30px;
}

/* Removes the anchor tag default properties. */
a.cardStudyGroup {
    /* Child inherits the color of its parent. */
    color:inherit;
    text-decoration: none;
}
/* Create study group img */
#studentPicture {
    max-width: 150px;
    max-height: 550px;
}
/* Join study group img. */
#studyGroupIMG {
    max-height: 220px;
    max-width: 330px;
}

.card-title {
    color: black;
    background-color: white;
}
