.jumbotron {
    background-color: transparent !important;
    height: 140px;
  }

.container-fluid {
    margin-top: 40px;
    margin-bottom: 20px;
}
    
h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
}

.bookCard {
  padding: 2em;
}

.form-group {
  margin-left: 30%;
  margin-right: 30%;
}
