<div class="container-fluid" align="center">
  <div class="jumbotron">
    <h1>What book are you looking for?</h1>
  </div>
</div>

<form>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ISBN/Class/Book Title">
  </div>
</form>

<div align="center">
  <button type="button" class="btn btn-primary">Search</button>
</div>

<div class="card-deck-horizontal">

  <div align="center" class ="bookCard">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
         <img src="../../assets/JavaConcepts.png" class="card-img" alt="Responsive image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="book-title">Java Concepts</h5>
            <p class="book-ISBN">978-0470181614</p>
            <p class="class-number">CSC300</p>
           <h5 class="student">Heather Duke</h5>
           <a href="#" class="card-link">Email</a>
            <a href="#" class="card-link">Facebook</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div align="center" class ="bookCard">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../../assets/JavaConcepts.png" class="card-img" alt="Responsive image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="book-title">Java Two</h5>
            <p class="book-ISBN">978-0470181614</p>
            <p class="class-number">CSC300</p>
            <h5 class="student">Tuan </h5>
            <a href="#" class="card-link">Email</a>
            <a href="#" class="card-link">Facebook</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div align="center" class ="bookCard">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../../assets/JavaConcepts.png" class="card-img" alt="Responsive image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="book-title">Java Three</h5>
            <p class="book-ISBN">978-0470181614</p>
            <p class="class-number">CSC300</p>
            <h5 class="student">Elena </h5>
            <a href="#" class="card-link">Email</a>
            <a href="#" class="card-link">Facebook</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div align="center" id= "bookList" class ="bookCard">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../../assets/JavaConcepts.png" class="card-img" alt="Responsive image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="book-title">Java Four</h5>
            <p class="book-ISBN">978-0470181614</p>
            <p class="class-number">CSC300</p>
            <h5 class="student">Spike </h5>
            <a href="#" class="card-link">Email</a>
            <a href="#" class="card-link">Facebook</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




