<!--Navbar component-->
<app-navigation></app-navigation>  

<!--Jide's code-->
<!--<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar> -->
<div class="container-fluid" align="center">
  <h1>LOGIN</h1>
</div>

<div class="row">
<!--<mat-card class="my-card">-->
    <div class="col-12">
   <!--<mat-card-content>-->
      <form class="my-form">
         <!--<mat-form-field class="full-width">-->
            <h3>Email</h3>
            <input  matInput  placeholder="Email" name="email"><br>
         <!--</mat-form-field>-->
         <!--<mat-form-field class="full-width">-->
            <h3>Password</h3>
            <input  matInput  placeholder="Password" name="password">
         <!--</mat-form-field>-->
    <!--</mat-card-content>-->
    <!--<mat-card-actions>-->
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
   <!--</mat-card-actions>-->
   </form>
   </div>
   </div>

<!--</mat-card>-->

<!-- Twitter component -->
<app-footer-twitter-feed></app-footer-twitter-feed>