/*navbar*/
.nav-item a:hover {
    color: #FFFFFF !important;
    cursor: pointer;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.text-block {
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
    background-color: #1034A6;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    letter-spacing: 10px;
    
    margin: auto;
    width: 50%;
}

.opt {
    position: absolute;
    top: 70%;
    left: 32%;
    background-color: #1034A6;
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
}

.opt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.opt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.opt:hover span {
  padding-right: 25px;
}

.opt:hover span:after {
  opacity: 1;
  right: 0;
}

.opt2 {
    position: absolute;
    top: 70%;
    right: 35%;
    background-color: #1034A6;
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
}

.opt2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.opt2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.opt2:hover span {
  padding-right: 25px;
}

.opt2:hover span:after {
  opacity: 1;
  right: 0;
}