<!--Navbar component-->
<app-navigation></app-navigation>  

<!-- Linh's code -->
<div class="container-fluid" align="center">
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="/aboutUs" class="link">About Us</a></li>
      <li class="list-group-item"><a routerLink="/study" class="link">Study</a></li>
      <li class="list-group-item"><a routerLink="/text" class="link">Texts</a></li>
      <li class="list-group-item"><a routerLink="/meetup" class="link">Meetups</a></li>
      <li class="list-group-item"><a routerLink="#" class="link">Demon Discounts</a></li>
  </ul>
</div>

<!-- Twitter component -->
<app-footer-twitter-feed></app-footer-twitter-feed>
