<!--Navbar component-->
<app-navigation></app-navigation>  

<!-- Linh's code -->
<div class="container-fluid" align="center">
  <ul class="list-group list-group-flush" style="text-align: center">
      <li class="list-group-item"><a routerLink="about.html">About Us</a></li>
      <li class="list-group-item"><a routerLink="studyPage/study_studyGroup.html">Study</a></li>
      <li class="list-group-item"><a routerLink="textPage/textPage.html">Text</a></li>
      <li class="list-group-item"><a routerLink="meetupPage/meetup.html">Meetup</a></li>
  </ul>
</div>

<!-- Twitter component -->
<app-footer-twitter-feed></app-footer-twitter-feed>