<!-- Collin's code -->
<div class="d-flex align-items-center">
  <div class="container" id="profile" align="center">
    <button type="button" class="btn btn-warning" (click)="logout()">Log Out</button>

    <div class="text-center">
      <img src={{defaultPic}} class="rounded" height=200 alt="profile pic">
      <h1>Email & userID</h1>
      <h2>{{email}}{{userID}}</h2>
      <app-social-icons></app-social-icons>
    </div>

    <div id="bio" class="container-fluid">
      <p>My name is {{email}}, and I love to study. Study study study, that's all that I like to do. Please I'm failing
        all my classes</p>
    </div>
  </div>
</div>
