<div class="container">
  <div>
    <h1 align="center" style="padding-top: 30px"> Waddup D-d-d-Demons,</h1>
    <p class="h3" align="center"> Fill out these to fields to place your books on the cloud!</p>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCourseSection">Enter Course Section</label>
          <input type="text" class="form-control" id="inputCourseSection" placeholder="Course Section">
        </div>
        <div class="form-group col-md-6">
          <label for="inputISBN">Enter ISBN</label>
          <input type="number" class="form-control" id="inputISBN" placeholder="ISBN">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
        <div class="form-group">
          <label for="exampleFormControlFile1"> <br> Upload an Instagram worthy photo of that book</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>

    <p align="center"> Need to view your class schedule? <br>
      <a href="https://campusconnect.depaul.edu/psp/CSPRD92/?cmd=login"
         class="badge badge-primary">Click here to redirect to campusconnect!</a>
    </p>
  </div>

  <!-- Footer -->
  <nav class="navbar fixed-bottom navbar-dark" style="background-color: #1034A6">
    <span style="color:white">Twitter Feed:</span>
  </nav>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
  <script src="bootstrap-4.1.1-dist/js/popper.min.js"></script>
  <script src="bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
</div>
