<!--Navigation component-->
<!--<app-navigation></app-navigation>-->
<div class="container-fluid" align="center" style="padding-bottom: 30px">
  <div class="jumbotron">
    <h1>DEPAUL SOCIAL  MEETUPS</h1>

    <p class="lead">
      Join thousands of meetups!
    </p>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <!-- Meetup Group card -->
        <a routerLink="/create-meetup" class="card meetups  shadow p-3 mb-5">
          <div class="card-body">
            <img id="studentPicture" class="card-img" src="../../assets/students.png" alt="A DePaul student.">
            <h1 class="card-title">Create Meetup</h1>
            <p class="card-text">
              Create your own study group with other DePaul students that are currently or have taken
              the same course as you!

            </p>
          </div>
        </a>

        <!-- Join Study Group card -->
        <a routerLink="/find-meetup" class="card meetups  shadow p-3 mb-5">
          <div class="card-body">
            <img id="studyGroupIMG" class="card-img" src="../../assets/studentGroups.jpg" alt="Group of DePaul Students.">
            <h1 class="card-title">Find Meetup</h1>
            <p class="card-text">
              Join thousands of existing study groups at DePaul!

            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
