.card-title {
  color: black;
  background-color: white;
}

/* Removes the anchor tag default properties. */
a.meetups {
  /* Child inherits the color of its parent. */
  color:inherit;
  text-decoration: none;
}


.jumbotron {
  background-color: transparent !important;
  height: 140px;
}

#studyGroupIMG {
  max-height: 220px;
  max-width: 330px;
}

#studentPicture {
  max-width: 250px;
  max-height: 550px;
}

.container-fluid {
  margin-top: 40px;
  margin-bottom: 20px;
}

.jumbotron {
  margin-bottom: 80px;
}

h1 {
  background-color: #1034A6;
  color: #FFF;
  width: fit-content;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  padding-top: .1em;
}