<!--Navbar component-->
<app-navigation></app-navigation>

<!-- Linh's code -->
<div class="container-fluid" align="center">
    <h1>DEPAUL SOCIAL TEXTBOOK</h1>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <a routerLink="../textBook_sell.html" class="cards cardSellText shadow p-3 mb-5">
        <div class="card-body" align="center">
          <img src="../../assets/sellText.jpg">
            <h1 class="card-title">Sell Textbook</h1>
            <p class="card-text">Sell textbooks that you don't need anymore for the new quarter to DePaul students.</p>
        </div>
      </a>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-12">
    <div class="card-deck">  
      <a routerLink="../textBook_buy.html" class="cards">
        <div class="card-body">
          <img src="../../assets/buyText.png">
            <h1>Buy Textbook</h1>
            <p class="card-text">Buy textbooks that you need for the new quarter from students at DePaul.<br><br></p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <a routerLink="../textBook_swap.html" class="cards">
        <div class="card-body">
            <img src="../../assets/swapText.jpg">
            <h1>Swap Textbook</h1>
            <p class="card-text">Swap textbooks with students that have the book you need and you have what they need for the qaurter.</p>
        </div>
      </a>
    </div>
  </div>
</div>

<!--Twitter component-->
<app-footer-twitter-feed></app-footer-twitter-feed>