<!-- Linh's code -->
<div *ngIf="router.url == '/text';">
  <div class="container-fluid" align="center">
    <div class="jumbotron jumbotron-fluid">
      <h1>DEPAUL SOCIAL TEXTBOOK</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <!-- Sell Textbook card -->
        <a [routerLink]="['booksell']" class="card cardSell shadow p-3 mb-5">
          <div class="card-body" align="center">
            <img class="card-img sellText" src="../../assets/sellText.jpg" alt="Textbooks for sell">
            <h1 class="card-title">Sell Textbooks</h1>
            <p class="card-text">
              Sell textbooks that you don't need anymore
            </p>
          </div>
        </a>

        <!-- Buy Textbook card -->
        <a [routerLink]="['bookbuy']" class="card cardBuy shadow p-3 mb-5">
          <div class="card-body" align="center">
            <img class="card-img buyText" src="../../assets/buyText.png" alt="Textbooks to buy">
            <h1 class="card-title">Buy Textbooks</h1>
            <p class="card-text">
              Buy textbooks that you need for the new quarter<br><br>
            </p>
          </div>
        </a>

        <!-- Swap Textbook card -->
        <a [routerLink]="['bookswap']" class="card cardSwap shadow p-3 mb-5">
          <div class="card-body" align="center">
            <img class="card-img swapText" src="../../assets/swapText.jpg" alt="Textbooks to swap">
            <h1 class="card-title">Swap Textbooks</h1>
            <p class="card-text">
              Swap textbooks with other students
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>