<!-- Jide's code -->
<div class="class-all" align="center">
    <div class="heading">
        <h1>Register</h1>
    </div>
    <!--Julio refactored form -->
    <form [formGroup]="registerForm" style="padding-bottom: 80px" (ngSubmit)="createUser(registerForm.get('userName').value, registerForm.get('password').value)">
        <div class="form-group">
            <label class="label" for="firstName">First Name: </label>
            <input class="form-control-sm" formControlName="firstName" class="form-control-sm" type="text" id="firstName">
        </div> 

        <div class="form-group">
            <label class="label" for="lastName">Last Name: </label>
            <input class="form-control-sm" formControlName="lastName" type="text" id="lastName">
        </div>

        <div class="form-group">
          <label class="gender">Gender:</label>
          <label class="male" for="maleOption">Male:</label>
          <input formControlName="gender" type="radio" value="Male" id="maleOption"/>

          <label class="female" for="femaleOption">Female: </label>
          <input formControlName="gender" type="radio" value="Female" id="femaleOption"/>
        </div>

        <div class="form-group">
            <label class="bday" for="birthInput">Birthday: </label>
            <input class="form-control-sm" formControlName="birthdate" type="date" id="birthInput">
        </div>

        <div class="form-group">
          <label class="user" for="email">Email:</label>
          <input class="form-control-sm" type="email" formControlName="email" id="email"/>
        </div>

        <div class="form-group">
            <label class="pass" for="password">Password:</label>
            <input class="form-control-sm" formControlName="password" type= "password" id="password">
        </div>

        <div class="form-group">
            <label class="bio" for="bio">Add a short bio to tell people more about yourself:</label><br>
            <input class="form-control-sm" formControlName="bio" type="text" id="bio">
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>

        <div>
            <label class="login"> Already a member? <a routerLink="/login" class="link">click to log in to account</a> </label>
        </div>
    </form>
</div>

