.heading {
  padding-top: 100px;
  padding-bottom: 20px;
}
    
h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    padding-top: .1em;
}

.label {
  padding-right: 1em;
}

.pass {
  padding-right: 1.7em;
}

.gender {
  padding-right: 1em;
  padding-left: .7em;
}

.male {
  padding-right: 1em;
  padding-left: .3em;
}

.female {
  padding-right: 1em;
  padding-left: 1em;
}

.bday {
  padding-right: 2em;
}

.user {
  padding-right: 3.4em;
}

.btn {
  background-color: #1034A6;
}

.login {
  margin-top: 1em;
}

.link {
  text-decoration: none;
  color: #ff0000;
}

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }