.jumbotron {
    background-color: transparent !important;
    height: 140px;
  }

.container-fluid {
    margin-top: 40px;
    margin-bottom: 80px;
}
    
h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
}

.btn {
    background-color: #1034A6;
}

.form-group {
    width: 50%;
}