<!-- Alex's code -->
{{print}}
<div class="container-fluid" align="center">
  <div class="jumbotron">
    <h1>Create Study Group!</h1>
  </div>

  <form [formGroup]="studyGroup" (ngSubmit)="addStudyGroup()" novalidate>
    <!-- Create Meetup -->
    <div class="form-group">
      <label for="GroupNameFormControlInput">Group Name:</label>
      <input type="text" class="form-control" id="GroupNameFormControlInput" required placeholder="Class Name"
        formControlName="name">
    </div>

    <!-- Date -->
    <div class="form-group">
      <label for="dateFormControlInput">Date:</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker
          #d="ngbDatepicker" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <!-- Time -->
    <div class="form-group">
      <label for="timeFormControlInput">Time:</label>
      <ngb-timepicker formControlName="time" name="time" [meridian]=true required></ngb-timepicker>
    </div>

    <!-- Class of Group -->
    <div class="form-group">
      <label for="classInput">Class for Study Group:</label> <br>
      <span style="color:rebeccapurple"><em>This is a Case sensitive field.</em></span>
      <input type="text" class="form-control" id="classInput" placeholder="e.g., CSC360, CSC301, SE350..." required
        formControlName="class">
    </div>

    <!-- Topic -->
    <div class="form-group">
      <label for="classInput">Study Topic:</label>
      <input type="text" class="form-control" id="topicInput" placeholder="Website Designs" required
        formControlName="topic">
    </div>

    <!-- Location -->
    <div class="form-group">
      <label for="locationFormControlInput">Location:</label>
      <select class="form-control" id="location" required formControlName="location" name="location">
        <option value="Loop Campus">Loop Campus</option>
        <option value="Lincoln Park Campus">Lincoln Park Campus</option>
        <option value="Either Campus">Either Campus</option>
      </select>
    </div>

    <div align="center">
      <button type="button" class="btn btn-secondary gap-right" (click)="resetForm()">Reset</button>
      <button type="submit" class="btn btn-success" [disabled]="!studyGroup.valid">Create Study Group</button>
    </div>
  </form>
</div>
