.card-title {
    color: black;
    background-color: white;
}

/* Removes the anchor tag default properties. */
a.meetups {
    /* Child inherits the color of its parent. */
    color:inherit;
    text-decoration: none;
}

.jumbotron {
    background-color: transparent !important;
}

#studyGroupIMG {
    max-height: 220px;
    max-width: 330px;
}

#joinMeetUpPic {
    max-width: 250px;
    max-height: 550px;
}

