.jumbotron {
  background-color: transparent !important;
  height: 140px;
}

.container-fluid {
  margin-top: 80px;
  margin-bottom: 20px;
}

h1 {
  background-color: #1034A6;
  color: #FFF;
  width: fit-content;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  padding-top: .1em;
}
