<app-navigation></app-navigation>
        
        <!-- Jide's code -->
<div class="container-fluid">
  <p>
    Never start with the head. The victim gets all fuzzy. He can't feel the next... See?

    I know why you choose to have your little, ahem... group-therapy sessions in broad daylight. I know why you're afraid to go out at night. The Batman.

    Do I really look like a guy with a plan?

    If you're good at something, never do it for free.

    And as for the television's so-called plan, Batman has no jurisdiction.

    Do you wanna know why I use a knife? Guns are too quick. You can't savor all the... little emotions. You see, in their last moments, people show you who they really are. So in a way, I knew your friends better than you ever did. Would you like to know which of them were cowards?

    How about a magic trick? I'm gonna make this pencil disappear. Ta-da!
  </p>
</div>
        
        <!-- Collin's code -->
        <div class="container-fluid mb-5" id = "teamBox" align = "center">
            <h1>
                Meet the Team!
            </h1>
          <div id="cardHolder" class="d-flex flex-wrap justify-content-center">
            <div class="teamCard p-2" *ngFor="let teamMember of names">
<!-- want to eventually pass picture path too, but it breaks when I try-->
              <app-team-card [name] = "teamMember"></app-team-card>
					</div>
          </div>
        </div>

<!-- Footer -->
<!--<app-footer-twitter-feed></app-footer-twitter-feed>-->
