<!-- Jide's code -->
<div align="center" class="content-all">
  <div class="jumbotron">
     <h1>DePaul Discounts</h1>
  </div>

  <div class="container-fluid">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="https://resources.depaul.edu/demon-discounts/shopping/Pages/default.aspx">Student Shopping Discounts</a></li>
      <li class="list-group-item"><a href="https://resources.depaul.edu/demon-discounts/technology/Pages/default.aspx">Discounted Tech Options</a></li>

      <li class="list-group-item"><a href="https://resources.depaul.edu/demon-discounts/dining/Pages/default.aspx">Student Dinning Discounts </a></li>
      <li class="list-group-item"> <a href="https://resources.depaul.edu/demon-discounts/arts-entertainment/Pages/default.aspx">Arts and Entertainment Discounts</a></li>
    </ul>
  </div>
</div>
