.content-all {
    padding-top: 80px;
}

.jumbotron {
    background-color: transparent !important;
    height: 140px;
  }
    
h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    padding-top: .1em;
}

.form-group {
    padding-bottom: .5em;
}

.user {
    padding-right: 1em;
}

.pass {
    padding-right: 1.2em;
}

.reg {
    padding-top: 1em;
}

.btn {
    background-color: #1034A6;
}

.list-group {
  width: fit-content;
}

a {
    text-decoration: none;
    color: #1034A6;
}

a:hover {
    color: #ff0000;
}

li {
    font-size: 30px;
  }