.content-all {
    padding-top: 8%;
}

.jumbotron {
    background-color: transparent !important;
    height: 140px;
  }
    
h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
}

.form-group {
    padding-bottom: .5em;
}

.user {
    padding-right: 1em;
}

.pass {
    padding-right: 1.2em;
}

.reg {
    padding-top: 1em;
}

.btn {
    background-color: #1034A6;
}

.link {
    text-decoration: none;
    color: #ff0000;
}

.list-group {
  width: fit-content;
}
