<!-- Jide's code -->
<div align="center" class="container-fluid">
  <div class="jumbotron">
     <h1>DEPAUL DISCOUNTS</h1>
     <p class="lead">
      Wallet looking kind of thin? <br>
      There's so many ways for you to save money as a college student!
    </p>
  </div>
</div>

<div align="center">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="https://resources.depaul.edu/demon-discounts/shopping/Pages/default.aspx">Student Shopping Discounts</a></li>
    <li class="list-group-item"><a href="https://resources.depaul.edu/demon-discounts/technology/Pages/default.aspx">Discounted Tech Options</a></li>

    <li class="list-group-item"><a href="https://resources.depaul.edu/demon-discounts/dining/Pages/default.aspx">Student Dinning Discounts </a></li>
    <li class="list-group-item"> <a href="https://resources.depaul.edu/demon-discounts/arts-entertainment/Pages/default.aspx">Arts and Entertainment Discounts</a></li>
  </ul>
</div>