.list-group.list-group-flush {
  width: fit-content;
}

h1 {
  background-color: #1034A6;
  color: white;
  width: fit-content;
}

.container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.buttons {
  margin-bottom: 20px;
}

#rightBtn {
  margin-left: 5px;
}


/* Media Queries for DePaul picture. */

/*Desktop Layout Sizes (Can range from 960-1140 depending on your layout.)*/
@media only screen and (min-width:1025px) {
  #imageContainer {
    display: block;
  }
}

/*Tablet (Landscape)*/
@media only screen and (min-width:768px) and (max-width:1024px) {
  #imageContainer {
    display: block;
  }
}

/*Tablet (Portrait)*/
@media only screen and (min-width:581px) and (max-width:768px) {
  #imageContainer {
    display: none;
  }
}



/*Phone (Landscape)*/
@media only screen and (min-width:321px) and (max-width:580px) {
  #imageContainer {
    display: none;
  }
}

/*Typical Phone (Portrait)*/
@media only screen and (max-width:320px) {
  #imageContainer {
    display: none;
  }
}
