<div class="container">
  <div class="container-fluid" align="center">
    <h1>
      Welcome to our group, Getitdone's project <br/>
      Our members are:
    </h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Alexanderson Reyes</li>
      <li class="list-group-item">Collin De Kalb</li>
      <li class="list-group-item">Heather Duke</li>
      <li class="list-group-item">Julio Lama Chusan</li>
      <li class="list-group-item">Linh Huynh</li>
      <li class="list-group-item">Neal Desai</li>
      <li class="list-group-item">Olajide Abatti</li>
      <li class="list-group-item">Tuan Nguyen</li>
    </ul>
  </div>
</div>
