
h1 {
  background-color: #1034A6;
  color: #FFF;
  width: fit-content;
  margin-top: 80px;
}

.container {
  margin-top: 30px;
  margin-bottom: 60px;
}

p.table{
  font-size: 14pt;
  padding: 2px;
  text-align: center;
}

.table{
  padding-bottom: 100%;
}

.form-group {
  padding: 20px;
}

.btn {
  background-color: #1034A6;
}

.badge {
  color: #ff0000;
}

.footer {
  padding-bottom: 20px;
}

.bookCard {
  padding-bottom: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 1px;
  /*height: 30px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}