
h1 {
  background-color: #1034A6;
  color: #FFF;
  width: fit-content;
  margin-top: 80px;
}

.container {
  margin-top: 30px;
  margin-bottom: 20px;
}

p.table{
  font-size: 14pt;
  padding: 2px;
  text-align: center;
}

.table{
  padding-bottom: 100%;
}
