<!--Tuan's code-->
<div class="container" align="center">
  <div>
    <h1>Need a book for a class?</h1>
    <!--<p class="h3" align="center"> Buy your books from other classmates here!</p>-->
  </div>

  <div class="form-group">
    <form>
      <div class="form-row">
        <!--course field-->
        <div class="form-group col-md-6">
          <label for="courseSection">Enter Course Section</label>
          <input type="text" class="form-control" id="courseSection" placeholder="csc360" required [(ngModel)]="class" name="class">
        </div>

        <!--isbn field-->
        <div class="form-group col-md-6">
          <label for="inputISBN">Enter ISBN</label>
          <input type="number" class="form-control" id="inputISBN" placeholder="123456789" required [(ngModel)]="isbn" name="isbn">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="search()">Search</button>
    </form>
  </div>

  <!--db check-->
  <div class="table">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Class</th>
          <th scope="col">ISBN</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let textBook of filtered">
          <td>{{ textBook.title }}</td>
          <td>{{ textBook.class }}</td>
          <td>{{ textBook.isbn }}</td>
          <td>{{ textBook.price }}</td>
          <td><button type="button" class="btn btn-primary">Buy</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="footer">
  <footer>
    <p align="center"> Need to view your class schedule? <br>
      <a href="https://campusconnect.depaul.edu/psp/CSPRD92/?cmd=login"
         class="badge">Click here to redirect to campusconnect!</a>
    </p>
  </footer>
</div>