<div class="container">
  <div>
    <h1 align="center" style="padding-top: 30px"> Hey Big Spender,</h1>
    <p class="h3" align="center"> Buy your books from other classmates here!</p>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCourseSection">Enter Course Section</label>
          <input type="text" class="form-control" id="inputCourseSection" placeholder="Course Section">
        </div>
        <div class="form-group col-md-6">
          <label for="inputISBN">Enter ISBN</label>
          <input type="number" class="form-control" id="inputISBN" placeholder="ISBN">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <p align="center"> Need to view your class schedule? <br>
      <a href="https://campusconnect.depaul.edu/psp/CSPRD92/?cmd=login"
         class="badge badge-primary">Click here to redirect to campusconnect!</a>
    </p>
  </div>
</div>
