<!--Neal's code-->
{{print}}
<!-- Content -->
<div class="container-fluid" align="center">
  <div class="jumbotron">
    <h1>Find Meetup!</h1>
  </div>

  <form>
    <!-- Select Major -->
    <div class="form-group">
      <label for="majorFormControlInput">Select Major:</label>
      <select class="form-control" id="majors" required [(ngModel)]="major" name="majors">
        <option *ngFor="let major of majors" [value]="major">{{major}}</option>
      </select>
    </div>

    <!-- Interests -->
    <div class="form-group">
      <label for="interestsFormControlInput">Interests: (Optional)</label>
      <input type="text" class="form-control" id="interests" placeholder="Sports, Coding, Mock Interviews...(1 Word)"
        [(ngModel)]="interests" name="interests">
    </div>

    <!-- Preferred Location -->
    <div class="form-group">
      <label for="locationFormControlInput">Location:</label>
      <select class="form-control" id="location" required [(ngModel)]="location" name="location">
        <option value="Campus">Campus</option>
        <option value="Library">Library</option>
        <option value="Dorm">Dorm</option>
        <option value="Off Campus">Off Campus</option>
      </select>
    </div>

    <!-- Search -->
    <button type="submit" class="btn btn-primary" (click)="search()">Find Meetups</button>
    
    <div class="table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Majors</th>
            <th scope="col">Purpose</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meetup of filtered">
            <td>{{ meetup.name }}</td>
            <td>{{ meetup.majors }}</td>
            <td>{{ meetup.purpose }}</td>
            <td>{{ meetup.date.month }}-{{ meetup.date.day }}-{{ meetup.date.year }}</td>
            <td>{{ meetup.time.hour}}:{{ meetup.time.minute}}</td>
            <td>{{ meetup.location }}</td>
            <td><button type="button" class="btn btn-primary">Join</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </form>
</div>