h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    padding-top: .1em;
}

.jumbotron {
    background-color: transparent !important;
    height: 140px;
    margin-top: 40px;
}

.btn {
    background-color: #1034A6;
}

.form-group {
    width: 50%;
}