h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
}

.jumbotron {
    background-color: transparent !important;
    height: 140px;
    margin-top: 40px;
}

.btn {
    background-color: #1034A6;
}