<!-- Alex's code -->
<div class="container-fluid" align="center">
    <div class="jumbotron">
        <h1>Looking for a study partner?</h1>
    </div>

    <form>
        <!-- Create Meetup -->
        <div class="form-group">
            <label for="ClassNameFormControlInput">Search by class here:</label>
            <input type="text" class="form-control" id="ClassNameFormControlInput" placeholder="CSC 333, CSC 350, ...">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>