h1 {
    background-color: #1034A6;
    color: #FFF;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    padding-top: .1em;
}

.jumbotron {
    background-color: transparent !important;
    height: 140px;
    margin-top: 40px;
}

.btn {
    background-color: #1034A6;
    margin-bottom: 20px;
}

.btn-secondary {
    margin-right: 1em;
    margin-left: 4.3em;
  }

.form-group {
    width: 50%;
}

.cards {
    padding-bottom: 20px;
}

.column {
    float: left;
    width: 50%;
    padding: 1px;
    /*height: 30px;  Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }