<!--Navbar component-->
<!--<app-navigation></app-navigation>-->

<!-- Heather's code -->
<div class="container-fluid" align="center">
  
  <div class="jumbotron">
    <h1>Look for a Study Group</h1>
  </div>

  <p> Course Section:
    <br> <input placeholder="csc360" type="text"></p>
  <p> Study Topic: <br>
    <input placeholder="Website Designs" type="text"></p>
  <p> Select Preferred campus to study:</p>
  <input type="checkbox" name="campus1" value="Loop"> Loop Campus Only<br>
  <input type="checkbox" name="campus2" value="LP"> Lincoln Park Campus Only<br>
  <input type="checkbox" name="campus3" value="Any" checked> Either Campus<br>
</div>

<p align="center"><input onclick="" type="button" value="Search"></p>